body{
    background-color:rgb(248, 248, 248); 

    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none
}
.header{

    background-color: white;
    margin-bottom: 40px;
    padding-bottom: 0px;
    box-shadow: 0px 5px 11px 1px rgba(0,0,0,0.17);
}
.header ul{
    display: flex;
    color: rgb(48, 46, 46);
    overflow:auto;
    margin-top:0px;
}

/*
MRyxrTeRaFb3jLP
qnxDbu4SXD8wKPQ
tiWZpaiEztLm36q
*/

.header ul li{
    margin-top:0px;
    list-style: none;
    float:left; 
}

.brand{
    margin-top:0px;
    border: 1px solid rgb(175, 175, 175);
    border-radius: 0px;
    padding: 4px;
    background-color: rgb(255, 82, 82);
    display: flex;
    margin-right: 30px;

}
.brand a{
    text-decoration: none;
    color: aliceblue;
}
.brand:hover{
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 4.0px;
    background-color: rgb(255, 115, 115);
    display: flex;
    margin-right: 30px;
}
#link{
    font-size: 20px;
    color: rgb(34, 34, 34);
    margin-right: 20px;
}
#link:hover{
    color: rgb(88, 99, 255);
}
#brand-name{
    font-size: 20px;
}

#icon{
    width: 50px;
}

#ava{
    width: 260px;
    height: 260px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.body{
    display: flex;
}
.right{

    width: 25%;
}
.center{

    width: 50%;
}
.left{

    width: 25%;
}
.container{
    background-color: rgb(255, 255, 255);
    border: white solid 2px;
    border-radius: 6px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 1px 11px 1px rgba(0,0,0,0.10);
}

.movie{
    display: flex;
}
.link a img{
    width: 100%;
}
.link{
    width: 40%;
}
.ditails{
    width: 60%;
    color: rgb(66, 66, 66);
    margin-left: 30px;

}

.headline{
    color: rgb(100, 100, 100);
}


@media (min-width: 320px) and (max-width: 480px) {
  
    .right{
        display: none;
        width: 0%;
    }
    .left{
        display: none;
        width: 0%;
    }
    .center{
        width: 100%;
    }
    .container{
        margin-left: 0px;
        margin-right: 0px;
    }
    .movie{
        display: block
    }
    .ditails{
        width: 100%;
        margin-left: 0px;
    
    }
    .link{
        width: 60%;
    }
    .brand{
        padding: 0px;
    }
    #link{
        font-size: 22px;
        

    }
    #brand-name{
        display: none;
    }
  }
